/* Global Styles */ 



/* End Global Styles */


/* Results Table */ 
h3 {
  font-size: 16px;
}

p {
  font-size: 12px;
}
.mat-cell, .mat-header-cell {
    font-size: 10px !important;
}

.results-table {
    margin-left: 10px;
    width: 1250px;

    td {
        padding-right: 20px;
    }

    th {
        padding-right: 20px;
    }
}
/* End of Results Table */


/* Modal Styles */
.container {
    hr {
        border-top: 1px solid #8c8b8b;
    }
    .header-row {
        display: flex;

        .header-left{
            justify-content: flex-start;
            width: 100%;
            .tagline {
                font-style: italic;
            }
        }
        
        .header-right{
            justify-content: flex-end;
            display: inline-block;
            width: 100%;

            .closeBtn {
                justify-content: flex-end;
            }    
        }
    }


    .information-row{
        display: flex;

        .content-left{
            justify-content: flex-start;
            width: 25%;
        }

        .content-right{
            justify-content: flex-start;
            width: 75%;
            margin: {
                top: 21px;
                bottom: 16px
            }
        }
    }
}

/* End of Modal Styles */ 



